<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>プロフィール</title>
	<link rel="stylesheet" type="text/css" href="http://35.185.151.37/css/profile-pc.css" />
	<link rel="stylesheet" type="text/css" href="http://35.185.151.37/css/profile-mobile.css" media="screen and (max-width: 900px)" />
</head>
<body>
  <section>

    <article>
      <div class="menu">
        <input id="menu--toggle"
               type="checkbox" />
        <!-- /#menutoggle -->
        <label class="menu--toggle__trigger"
               for="menu--toggle"></label>
        <!-- /.menutoggle__trigger -->
        <label class="menu--toggle__burger"
               for="menu--toggle"></label>
        <!-- /.menutoggle__burger -->

        <ul class="menu__body">
          <li class="menu__body-element">
            <a class="menu__body-link" href="./">
                ホーム
            </a>
          </li>

          <li class="menu__body-element">
            <a class="menu__body-link" href="./profile">
              プロフィール
            </a>
          </li>

          <li class="menu__body-element">
            <a class="menu__body-link" href="./schedule">
              スケジュール
            </a>
          </li>

          <li class="menu__body-element">
            <a class="menu__body-link" href="./disc">
                ディスコグラフィー
            </a>
          </li>

          <li class="menu__body-element">
            <a class="menu__body-link" href="https://ameblo.jp/kanaasami/">
              ブログ
            </a>
          </li>

          <li class="menu__body-element">
            <a class="menu__body-link" href="https://www.youtube.com/channel/UCE6RKPQjvt1vZmpAkZ9Igjw">
              ムービー
            </a>
          </li>

          <li class="menu__body-element">
            <a class="menu__body-link" href="./contact">
              コンタクト
            </a>
          </li>
        </ul>
        <!-- /.menubody -->
      </div>
      <!-- /.menu -->
    </article>
  </section>

  <div class="top">
    <div class="profile profile-first">
      <img class="kanasamiImg" src="http://35.185.151.37/images/rain.jpg" />
    </div>
  </div>
  <br />

  <div class="content1">
    <div class="profile_msg content-profile">
      <div class="loading">
        <span>C</span>
        <span>o</span>
        <span>n</span>
        <span>t</span>
        <span>a</span>
        <span>c</span>
        <span>t</span>
        <hr />
      </div>

      <br />
      <h3><strong>&nbsp;&nbsp;Contact</strong></h3>
      <p>
        お問い合わせは、<strong>kanasami.info@gmail.com</strong>&nbsp;まで
      </p>
		</div>
  </div>
  <br />
</body>

<footer>
  <div class="foot">
    <hr />
    <p>Copyright KanAsami</p>
    <br />
  </div>
</footer>


</html>
