<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="http://35.185.151.37/css/index-pc.css"  />

  <meta charset="UTF-8" />
  <title>Kanasami</title>
</head>
 <body>
   <div id="fb-root">

   <!-- ヘッダー画像 -->
   <div class="side">
     <img src="http://35.185.151.37/images/head_side.png" />
   </div>
   <div class="head_char">
     <img src="http://35.185.151.37/images/charHead.png" />
   </div>
   <div class="head_character">
     <img src="http://35.185.151.37/images/character.png" />
   </div>
 </div>
   <!-- リンクの表 -->
      <ul id="item-list">
     <div class="upper">
     <!-- ホーム -->
     <li><a href="./"><img src="http://35.185.151.37/images/home.png" /></a></li>
     <!-- プロフィール -->
     <li><a href="./profile"><img src="http://35.185.151.37/images/profile.png" /></a></li>
     <!-- スケジュール -->
     <li><a href="./schedule"><img src="http://35.185.151.37/images/schedule.png" /></a></li>
     </div>
     <div class="bottom">
     <!--  ディスコグラフィー -->
     <li><a href="./disc"><img src="http://35.185.151.37/images/disc.png" /></a></li>
     <!-- ブログ -->
     <li><a href="https://ameblo.jp/kanaasami/"><img src="http://35.185.151.37/images/blog.png" /></a></li>
     <!-- ムービー -->
     <li><a href="https://www.youtube.com/channel/UCE6RKPQjvt1vZmpAkZ9Igjw"><img src="http://35.185.151.37/images/movie.png" /></a></li>
     <!-- コンタクト -->
     <li><a href="./contact.html"><img src="http://35.185.151.37/images/contact.png" /></a></li>
     </div>
   </ul>

 <div class="content">
   <div class="extra">
     <div class="topic">
       <h1>NEWS</h1>
       <hr class="dots" />
       <h3>だみーーーーーー</h3>
     </div>

     <div class="dialogflow">
       <iframe
          width="100%"
          height="450"
          src="https://console.dialogflow.com/api-client/demo/embedded/8fb1bcd6-2b0d-4b78-8965-c428024ef450">
       </iframe>
     </div>
   </div>

   <div class="sns">
     <h1>twitter</h1>
     <hr class="dots" />
     <!-- twiter -->
     <div class="twitter">
      <script th:inline="javascript">
        window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);

          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };

          return t;
        }(document, "script", "twitter-wjs"));
      </script>
      <script th:inline="javascript">
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&amp;version=v2.10";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>

       <a class="twitter-timeline"
          href="https://twitter.com/asami_kana"
          data-width="500px"
          data-height="500px"
	  data-chrome="nofooter">
          @TwitterDevによるツイート
        </a>
      </div>
<!--
      <script>
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.11';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>

      <div class="facebook">

        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fkanasami.music%2F&tabs=timeline&width=0&height=0&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="500px" height="600px" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

      </div>
-->
    </div>
    <!-- sns end -->
  </div>

  <div class="shake">
    <img src="http://35.185.151.37/images/peamanman.png" />
  </div>

    <footer>
      <hr />
      <p>Copyright KanAsami</p>
    </footer>

 </body>
</html>
