<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>プロフィール</title>
	<link rel="stylesheet" type="text/css" href="http://35.229.108.29/css/profile-pc.css" />
	<link rel="stylesheet" type="text/css" href="http://35.229.108.29/css/profile-mobile.css" media="screen and (max-width: 900px)" />
</head>
<body>
  <section>

    <article>
      <div class="menu">
        <input id="menu--toggle"
               type="checkbox" />
        <!-- /#menutoggle -->
        <label class="menu--toggle__trigger"
               for="menu--toggle"></label>
        <!-- /.menutoggle__trigger -->
        <label class="menu--toggle__burger"
               for="menu--toggle"></label>
        <!-- /.menutoggle__burger -->

        <ul class="menu__body">
          <li class="menu__body-element">
            <a class="menu__body-link" href="/">
                ホーム
            </a>
          </li>

          <li class="menu__body-element">
            <a class="menu__body-link" href="./profile.html">
              プロフィール
            </a>
          </li>

          <li class="menu__body-element">
            <a class="menu__body-link" href="./schedule.html">
              スケジュール
            </a>
          </li>

          <li class="menu__body-element">
            <a class="menu__body-link" href="./disc.html">
                ディスコグラフィー
            </a>
          </li>

          <li class="menu__body-element">
            <a class="menu__body-link" href="https://ameblo.jp/kanaasami/">
              ブログ
            </a>
          </li>

          <li class="menu__body-element">
            <a class="menu__body-link" href="https://www.youtube.com/channel/UCE6RKPQjvt1vZmpAkZ9Igjw">
              ムービー
            </a>
          </li>

          <li class="menu__body-element">
            <a class="menu__body-link" href="./contact.html">
              コンタクト
            </a>
          </li>
        </ul>
        <!-- /.menubody -->
      </div>
      <!-- /.menu -->
    </article>
  </section>

  <div class="top">
    <div class="profile profile-first">
      <img class="kanasamiImg" src="http://35.229.108.29/images/rain.jpg" />
    </div>
  </div>
  <br />

  <div class="content1">
    <div class="profile_msg content-profile">
      <div class="loading">
        <span>P</span>
        <span>r</span>
        <span>o</span>
        <span>f</span>
        <span>i</span>
        <span>l</span>
        <span>e</span>
        <hr />
      </div>

      <br />
      <h3><strong>&nbsp;&nbsp;KanAsami</strong></h3>
      <img  class="kanasamiUp" src="http://35.229.108.29/images/KanAsami-up.jpg" />
      <p>
        Gt. / Vo. Asamiと、Pf. / Vo. kanaのツインボーカルユニット。 2009年、玉川大学教育学部教育学科卒業。在学中、幼児や児童向けの音楽教育や合唱指揮法を学ぶ。卒業後、2011年にKanAsami結成。<br />
        「人の心にそっと寄り添い、色を与える歌」をテーマに、自ら作詞・作曲し、ストレートに分かりやすい言葉で、感情を伝える（作詞：Asami、作曲：kana）。 対照的な二人の声で、上下を自由に行き交うコーラスワークが特長である。<br />
        2013年より、子どもの居場所作りのコンサートを中心に全国各地で活動。 <br />現在は、全国の幼稚園、保育園、子育て支援施設や児童館、中学校などで「大人だって泣きたいときがある 子どもだって守りたいものがある」をコンセプトに、”KanAsamiワンダーランド”（ワークショップ&amp;コンサート）を行っている。
        <br />
        絵本の歌い聞かせや打楽器を使ったリズム遊びなど、大人も子どもも音楽を通して自由に楽しめる内容を組み立て、活動している。
      </p>
		</div>
    <div class="profile_msg content-profile">
      <h3><strong>&nbsp;&nbsp;主な活動実績</strong></h3>
      <p>
        &nbsp;&nbsp;2013年より、きぬたまあそび村（非営利活動法人　せたがや水辺デザインネットワーク）主催、「風のコンサート」を展開。 （現在は「繋いだ手」コンサートとし、年に2回毎年開催している）<br />
        &nbsp;&nbsp;上記コンサートがきっかけで、様々な場所で親子向けコンサート＆ワークショップを開催するようになる。 <br /><br />
        &nbsp;&nbsp;2015年7月4日、『繋いだ手』CD＆オリジナル紙芝居リリース。<br />
        &nbsp;&nbsp;水辺のコンサート（非営利活動法人せたがや水辺デザインネットワーク・主催）にて、お披露目。<br />
        &nbsp;&nbsp;2015年7月26日、『繋いだ手』リリース記念、企画ライブを渋谷Milkywayにて開催。<br />
        &nbsp;&nbsp;2015年12月27日、1stミニアルバム「シャボン玉」をリリース企画ライブを恵比寿aimにて開催。150名の動員を成功。<br />
        &nbsp;&nbsp;2016年4月より、横浜市鶴見区のサルビアアーティストバンクのアーティストとして登録、お披露目SHOWCASEに出演。<br />
        &nbsp;&nbsp;2016年より、全国各地イオンタウン（イオンタウン株式会社）にて「KanAsamiワンダーランド」を開催。<br />
        &nbsp;&nbsp;2016年5月、ロッキングオン主催、フードフェスにて19日間毎日ワークショップを行う。<br />
        &nbsp;&nbsp;2016年8月、SUMMER SONIC 2016 GREEN FIELDストリートライブに出演。<br />
        &nbsp;&nbsp;2016年10月、巨峰3兄弟とコラボレーションし、「キミと歌えば / 一等星」をリリース、池袋タワーレコードにてリリース記念イベント開催。初回CD完売。<br />
        &nbsp;&nbsp;2017年1月より、東京インテリア 千葉ニュータウン店にて「KanAsamiワンダーランド」を開催。<br />
        &nbsp;&nbsp;2017年5月、KanAsami初のアルバム「KanAsamiワンダーランド」をリリース。
			</p>
      <br /><br /><br />
    </div>

    <div class="profile_msg content-profile">
      <h3><strong>&nbsp;&nbsp;楽曲提供</strong></h3>
      <p>
        &nbsp;&nbsp;・鎌田児童館（世田谷区）館歌『セカンドハウス「ぼくたちのかまたじどうかん」』（子どもたち一緒にと館歌を作るワークショップ開催）<br />
        &nbsp;&nbsp;・にじいろ保育園（磯子）運動会ソング『ぼくたちの運動会』
      </p>
      <br /><br />
    </div>
  </div>
  <br />
</body>

<footer>
  <div class="foot">
    <hr />
    <p>Copyright Kanasami</p>
    <br />
  </div>
</footer>


</html>
