<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	href="http://35.185.151.37/css/top-pc-2.css" />
<link rel="stylesheet" type="text/css"
	href="http://35.185.151.37/css/top-mobile-2.css"
	media="screen and (max-width: 900px)" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var first_width = $(window).width();
 
var timer = false;
$(window).resize(function() {
    if (timer !== false) {
        clearTimeout(timer);
    }
    timer = setTimeout(function() {
        //resize完了時の動作
        var width = $(window).width();
        if(width!=first_width){
 
            console.log('resized');
            fbiframe_reload();
            first_width=width;
        }
    }, 200);
});
 
function fbiframe_reload(){//facebookウィジェットの再描画
 
        var width = $(window).width();
 
        var src = "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPROCLASSpage%2F&tabs=timeline&width="+width+"&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
 
        $("#fbiframe").attr("src","");       
        $("#fbiframe").attr("src",src); 
 
        $("#fbiframe").attr("width",width); 
};
 
fbiframe_reload();
/*]]>*/
</script>

<meta charset="UTF-8" />
<title>Kanasami</title>
</head>
<body>
	<div id="fb-root">
		<!-- ヘッダー画像 -->
		<div class="side">
			<img src="http://35.185.151.37/images/head_side.png" />
		</div>
		<div class="head_char">
			<img src="http://35.185.151.37/images/charHead.png" />
		</div>
		<div class="head_character">
			<img src="http://35.185.151.37/images/character.png" />
		</div>
	</div>
	<!-- リンクの表 -->
	<ul id="item-list">
		<div class="upper">
			<!-- ホーム -->
			<li><a href="./"><img
					src="http://35.185.151.37/images/home.png" /></a></li>
			<!-- プロフィール -->
			<li><a href="./profile"><img
					src="http://35.185.151.37/images/profile.png" /></a></li>
			<!-- スケジュール -->
			<li><a href="./schedule"><img
					src="http://35.185.151.37/images/schedule.png" /></a></li>
		</div>
		<div class="bottom">
			<!--  ディスコグラフィー -->
			<li><a href="./disc"><img
					src="http://35.185.151.37/images/disc.png" /></a></li>
			<!-- ブログ -->
			<li><a href="https://ameblo.jp/kanaasami/"><img
					src="http://35.185.151.37/images/blog.png" /></a></li>
			<!-- ムービー -->
			<li><a
				href="https://www.youtube.com/channel/UCE6RKPQjvt1vZmpAkZ9Igjw"><img
					src="http://35.185.151.37/images/movie.png" /></a></li>
			<!-- コンタクト -->
			<li><a href="./contact.html"><img
					src="http://35.185.151.37/images/contact.png" /></a></li>
		</div>
	</ul>
	<br />



	<script th:inline="javascript">
		function changeTwitterWidgetDesign(){
    			var $twitter_widget = $('iframe.twitter-timeline');
    			var $twitter_widget_contents = $twitter_widget.contents();
	    		if ($twitter_widget.length > 0 &amp;&amp; $twitter_widget[0].contentWindow.document.body.innerHTML !== ""){
      			$twitter_widget_contents.find('head').append('<link href="http://35.185.151.37/css/top-mobile.css" rel="stylesheet" type="text/css" />');
    			}
    			else {
      			setTimeout(function(){
        			changeTwitterWidgetDesign();
      			}, 350);
    			}
  		}
		changeTwitterWidgetDesign();
	</script>
	<script th:inline="javascript">
    		var x = document.body.scrollWidth;
    		var contentWidth = x - (3*2);
    		var container = document.getElementById('container');
    		container.setAttribute("style", "width : "+ contentWidth + "px;")
	</script>
	<div class="sns">
		<div class="news">
			<!--  <h1 class="ribbon-news">
				<span class="ribbon-news-content">NEWS</span>
			</h1>
			-->
			<h3 class="button-news">News</h3>
			<div class="news-content">
				<div class="box_srcollbar">
					<ul class="plate" id="cork" >
						<div th:each="d:${topInfos}">
							<span><li><a th:href="${d.url}"><p th:text="${d.updateDate} + '  ' + ${d.title}"></p></a></li></span>
						</div>
					</ul>
				</div>
			</div>
		</div>
		<div class="facebook">
			<!-- <h1 class="ribbon-face">
				<span class="ribbon-face-content">Facebook</span>
			</h1>
			-->
			<h3 class="button-face">Facebook</h3>
			<div class="facebook-content fb-container">
				<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fkanasami.music%2F&amp;tabs=timeline&amp;width=350&amp;height=600&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=false&amp;appId" width="350" height="600" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowTransparency="true" allow="encrypted-media" data-adapt-container-width="true">
				</iframe>
			</div>
		</div>

		<div class="twitter">
			<!-- <h1 class="ribbon">
				<span class="ribbon-content">Twitter</span>
			</h1>
			-->
			<h3 class="button-twitter">Twitter</h3>
			<script th:inline="javascript">
        			window.twttr = (function(d, s, id) {
          			var js, fjs = d.getElementsByTagName(s)[0],
          			t = window.twttr || {};
          			if (d.getElementById(id)) return t;
          			js = d.createElement(s);
          			js.id = id;
          			js.src = "https://platform.twitter.com/widgets.js";
          			fjs.parentNode.insertBefore(js, fjs);
	          		t._e = [];
    	      			t.ready = function(f) {
            				t._e.push(f);
          			};
	          		return t;
        			}(document, "script", "twitter-wjs"));
      		</script>
      		<div class="twitter-content">
				<a class="twitter-timeline" href="https://twitter.com/asami_kana"
					data-width="350px" data-height="600px" data-chrome="nofooter">
					@TwitterDevによるツイート 
				</a>
			</div>
		</div>
	</div>


	<div class="shake">
		<img src="http://35.185.151.37/images/peamanman.png" />
	</div>

	<footer>
		<hr />
		<p>Copyright KanAsami</p>
	</footer>
</body>
</html>